body {
	margin:0px;
	padding: 0px;
	height: auto;
	width: 100%;
}

.story {
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	position: absolute;
	top: 20%;
	bottom:20%;
}

.block {
	width:330px;
	height: 530px;
	margin: 0px;
	padding: 5px;
	box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow:3px 3px 5px 6px #ccc;
	-moz-box-shadow:3px 3px 5px 6px #ccc;
		
}

.text{
	margin: 10px;
	padding: 2px;
	color: crimson;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: serif;
}

.btnn {
	padding:3px 20px 20px 3px;
	text-align: center;
	color: white;
	font-size: 30px;
	font-weight: bold;
	align-self: center;
}

.button{
	padding:6px 60px 6px 60px;
	background-color: red;
}

.block h1 {
	text-align: center;
	font-family: serif;
	font-size: 30px;
}

.block p{
	align-content: center;
	font-family:serif;;
	font-size: 15px;
	letter-spacing: 0.4px
	line-height: 16px;
}

.fot {
	position: absolute;
	bottom:-60%;
	height: auto;
}
.fot1 {
	position: absolute;
	bottom:-20%;
	height: auto;
}

.image {
	padding-right:0px;
	padding-left:0px;
	margin-right:auto;
	margin-left:auto;
	position: absolute;
	top: 5%;
		
}
.content{
	
	margin: 10px;
	padding: 2px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: serif;
	
}

.content h3{
	
	font-size: 40px;
	color: black;
	
}
.fluid p{
	margin: 10px 350px 10px 350px;
	padding: 2px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: serif;
	font-size: 30px;
	color: gray;
	
}
@media (min-width:768px){
	.story{
		width:750px
	}
}
@media (min-width:992px){
	.story{width:970px
	}
}
@media (min-width:1200px){
	.story{width:1170px
	}
}